body {
    padding: 2rem;
    background-color: lightblue;
}
h1, h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: purple;
}

h2 {
    color: #F2D622;
    margin-top: -0.5rem;
}

p {
    font-family: 'Verdana', monospace;
    color: aliceblue;
}

.portal {
    margin-left: auto;
    margin-right: auto;
    background-color: #055735;
    width: 80%;
    max-width: 75rem;
    padding: 2rem;
}