body {
    padding: 20px;
    background-color: lightblue;
}
h1, h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 56px;
    text-align: center;
    color: purple;
}

h2 {
    color: magenta;
}

p {
    font-family: 'Verdana', monospace;
}

.portal {
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    width: 80%;
    max-width: 750px;
    padding: 20px;
}