body {
    padding: 2rem;
    background-color: lightblue;
}
h1, h2 {
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: purple;
}

h2 {
    color: #F2D622;
    font-size: 2rem;
}

p, li, figcaption {
    font-family: 'Verdana', monospace;
    font-size: 1.4rem;
    color: aliceblue;
}

img {
    width: 100%;
    border: 4px solid #F2D622;
    border-radius: 8px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 75rem;
    padding: 1rem 2rem;
}

.portal {
    background-color: #055735;
    padding: 3% 7%;
    border: #F2D622 solid 4px;
}

.navbar {
    background-color: lightblue;
}

.navbar a {
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: purple;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #055735 dashed 4px;
}

.navbar a:hover {
    background-color: #0A9159;
    color: lightblue;
    border-style: solid;
}

.navbar a.active {
    background-color:#055735;
    color:#F2D622;
    border-color: #F2D622;
    border-style: solid;
}

.navbar a.active:hover {
    background-color: #0A9159;
}

a.post_link {
    color: #F2D622;
    text-decoration: none;
    font-weight: bold;
}

a.post_link:hover {
    text-decoration: underline;
}

.post_date {
    text-align: right;
}

.post_header {
    text-align: center;
}